h1{
    text-align: center;
}
h3{
    text-align: center;
}
p{
    text-align: center;
}
h5{
    text-align: center;
}
.wrapper{
    max-width: 1200px;
    padding: 0 16px;
    margin:auto;
}

.navbar{
    padding:20px;
    margin-bottom: 20px;
    background:#008cba;
    color:#fff;
    display: flex;
    justify-content: space-between;
}

.navbar .create {
     color:#fff;
     font-size: 1.5rem;
}

.navbar .navbar-brnad {
    color:#fff;
    font-size: 2rem;
}

.navbar-brand:hover, .create:hover{
    color:#fff;

}

.contact-details{
    width: 40vw;
    margin:auto;
    margin-bottom: 10px;
    background-color: rgb(204, 204, 130);
    padding: 10px;
    border-radius: 5px;
}
.details{
    width: 80%;
    margin:auto;
    display:flex;
    flex-direction: row;
    justify-content:start;
    padding:15;
    color:rgb(2, 2, 36);
    font-size: 1rem;
    font-family:'Times New Roman', Times, serif;
}
 .form-container{
     display: flex;
     margin: auto;
 }
 .sections{
     width: 80vw;
    display: flex;
    flex-direction: row;
    margin: auto;
}
 .add-contact{
    width: 60vw;

 }
 .contacts{
    width: 40vw;
    border-left: 1px solid black;
    padding: 30px;

 }
 
 
 